@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --tomato: #FF7B00
}

* {
  font-family: Grandstander;
  margin: 0;
  padding: 0;
}

.logo {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.bottom-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url('./assets/images/bottom_header-bg.png');
  background-size: cover;
}

.bottom-header p {
  width: 90%;
}

p, h1, h2 {
  text-align: center;
}

.buttons-box button {
  color: white;
  margin-inline: 2vw;
  border-radius: 15px;
}

.buttons_box-first {
  background-color: var(--tomato);
  border: none;
}

.buttons_box-second {
  background-color: inherit;
  border: solid white 1px;
}

.offer-card button {
  background-color: black;
  color: white;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.offer-card {
  background-color: #F4F4F4;
  position: relative;
  text-align: center;
}

.newsletter {
  background-image: url('./assets/images/newsletter-bg.jpg');
}

.newsletter button {
  background-color: black;
  color: white;
  border-radius: 15px;
}

@media only screen and (max-width: 500px) { /* ---------------------------------------------------------------------------- */
  .logo {
    font-size: 115%; 
  }

  .logo img {
    width: 8vw;
  }

  .top-header {
    padding: 1vh 5vw;
  }

  .top-header ul {
    display: none;
  }

  .top-header .hamburger-button {
    width: 8vw;
  }

  .mobile-menu {
    display: none;
  }

  .top-header .details button {
    display: none;
  }

  .bottom-header {
    height: 35vh;
  }

  .bottom-header h1 {
    font-size: 170%;
  }

  .bottom-header p {
    font-size: 100%;
    margin-block: 2vh;
  }

  .buttons-box button {
    width: 30vw;
    height: 4vh;
  }

  .offer {
    padding: 2vh 5vw;
  }

  .offer h1 {
    font-size: 150%;
  }

  .offer p {
    display: none;
  }

  .offer div {
    margin-block: 2vh;
    width: 100%;
    display: flex;
    overflow: scroll;
  }

  .offer-card {
    width: 250px;
    height: 300px;
    flex-shrink: 0;
    margin-inline: 10px;
    border: solid #D9D9D9 1px;
  }

  .offer-card p {
    display: block;
  }

  .offer-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  .offer-card h2 {
    margin-top: 10px;
    font-size: 150%;
  }

  .offer-card button {
    margin-top: 10px;
    width: 30vw;
    height: 25px;
    bottom: 5px;
  }

  .newsletter {
    height: 180px;
    padding: 3vh 7vw 4vh; 
  }

  .newsletter h1 {
    font-size: 150%;
    text-align: left;
  }

  .newsletter p {
    font-size: 110%;
    text-align: left;
    margin-block: 15px;
  }

  .newsletter button {
    width: 40vw;
    height: 5vh;
  }

  .opinions {
    padding: 1vh 5vw;
  }

  .opinions div {
    display: flex;
    width: 100%;
    overflow: scroll;
    margin-block: 20px;
  }

  .opinion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F4F4F4;
    width: 250px;
    flex-shrink: 0;
    margin-inline: 10px;
    padding-block: 10px;
    border: solid #D9D9D9 1px;    
  }

  .opinion-card span {
    font-weight: bolder;
  }

  footer {
    background-color: black;
    color: white; 
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
  }

}

@media only screen and (min-width: 501px) and (max-width: 767px) { /* ---------------------------------------------------------------------------- */
  .logo {
    font-size: 165%;
  }

  .top-header {
    padding: 1vh 5vw;
  }

  .top-header ul {
    display: none;
  }

  .top-header .hamburger-button {
    width: 10vw;
  }

  .mobile-menu {
    display: none;
  }

  .top-header .details button {
    display: none;
  }

  .bottom-header {
    height: 45vh;
  }

  .bottom-header h1 {
    font-size: 210%;
  }

  .bottom-header p {
    font-size: 140%;
    margin-block: 2vh;
  }

  .buttons-box button {
    width: 30vw;
    height: 5vh;
    font-size: 110%;
  }

  .offer {
    padding: 2vh 5vw;
  }

  .offer h1 {
    font-size: 180%;
  }

  .offer p {
    display: none;
  }

  .offer div {
    display: flex;
    overflow: scroll;
    margin-block: 20px;
  }

  .offer-card {
    margin-inline: 10px;
    width: 350px;
    height: 350px;
  }

  .offer-card h2 {
    margin-top: 5px;
  }

  .offer-card p {
    display: block;
  }

  .offer-card img {
    height: 75%;
    object-fit: cover;
  }

  .offer-card button {
    bottom: 8px;
    width: 15vw;
    height: 20px;
  }

  .newsletter {
    height: 200px;
    padding: 3vh 7vw 4vh; 
  }

  .newsletter h1 {
    font-size: 200%;
    text-align: left;
  }

  .newsletter p {
    font-size: 130%;
    text-align: left;
    margin-block: 20px 25px;
  }

  .newsletter button {
    width: 40vw;
    height: 5vh;
  }

  .opinions {
    padding: 1vh 5vw;
    margin-block: 10px;
  }

  .opinions div {
    display: flex;
    width: 100%;
    overflow: scroll;
    margin-block: 20px;
  }

  .opinion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F4F4F4;
    width: 250px;
    flex-shrink: 0;
    margin-inline: 10px;
    padding-block: 10px;
    border: solid #D9D9D9 1px;    
  }

  .opinion-card span {
    font-weight: bolder;
  }

  footer {
    background-color: black;
    color: white; 
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {}

@media only screen and (min-width: 1440px) {}





.newsletter img {
  display: none;
}